<template id="portfolio-tpl">
  <section id="portfolio">
    <div class="inner disco-bars">
      <a href="" class="project-thumb" data-project="spectreTest">
        <div class="project-wrap">
          <img class="thumb" src="img/projects/spectretest600.jpg" srcset="img/projects/spectretest2000.%jpg 2000w, img/projects/spectretest1200.%jpg 1200w, img/projects/spectretest1000.%jpg 1000w, img/projects/spectretest750.%jpg 750w, img/projects/spectretest600.%jpg 600w, img/projects/spectretest500.%jpg 500w, img/projects/spectretest450.%jpg 450w, img/projects/spectretest300.%jpg 300w, img/projects/spectretest250.%jpg 250w, img/projects/spectretest150.%jpg 150w" sizes="(min-width: 2501px) 600px, (min-width:1401px) and (max-width: 2500px) 24vw, (min-width: 851px) and (max-width: 1400px) 37.6vw, (max-width: 850px) 88vw" alt="Spectre Test">
        </div>
      </a>
      <a href="" class="project-thumb" data-project="wonder">
        <div class="project-wrap">
          <img class="thumb" src="img/projects/wonder600.jpg" srcset="img/projects/wonder2000.%jpg 2000w, img/projects/wonder1200.%jpg 1200w, img/projects/wonder1000.%jpg 1000w, img/projects/wonder750.%jpg 750w, img/projects/wonder600.%jpg 600w, img/projects/wonder500.%jpg 500w, img/projects/wonder450.%jpg 450w, img/projects/wonder300.%jpg 300w, img/projects/wonder250.%jpg 250w, img/projects/wonder150.%jpg 150w" sizes="(min-width: 2501px) 600px, (min-width:1401px) and (max-width: 2500px) 24vw, (min-width: 851px) and (max-width: 1400px) 37.6vw, (max-width: 850px) 88vw" alt="Wonder">
        </div>
      </a>
      <a href="" class="project-thumb" data-project="casamigos">
        <div class="project-wrap">
          <img class="thumb" src="img/projects/casamigos600.jpg" srcset="img/projects/casamigos2000.%jpg 2000w, img/projects/casamigos1200.%jpg 1200w, img/projects/casamigos1000.%jpg 1000w, img/projects/casamigos750.%jpg 750w, img/projects/casamigos600.%jpg 600w, img/projects/casamigos500.%jpg 500w, img/projects/casamigos450.%jpg 450w, img/projects/casamigos300.%jpg 300w, img/projects/casamigos250.%jpg 250w, img/projects/casamigos150.%jpg 150w" sizes="(min-width: 2501px) 600px, (min-width:1401px) and (max-width: 2500px) 24vw, (min-width: 851px) and (max-width: 1400px) 37.6vw, (max-width: 850px) 88vw" alt="Casamigos">
        </div>
      </a>
      <a href="" class="project-thumb" data-project="titanfall">
        <div class="project-wrap">
          <img class="thumb" src="img/projects/titanfall600.jpg" srcset="img/projects/titanfall2000.%jpg 2000w, img/projects/titanfall1200.%jpg 1200w, img/projects/titanfall1000.%jpg 1000w, img/projects/titanfall750.%jpg 750w, img/projects/titanfall600.%jpg 600w, img/projects/titanfall500.%jpg 500w, img/projects/titanfall450.%jpg 450w, img/projects/titanfall300.%jpg 300w, img/projects/titanfall250.%jpg 250w, img/projects/titanfall150.%jpg 150w" sizes="(min-width: 2501px) 600px, (min-width:1401px) and (max-width: 2500px) 24vw, (min-width: 851px) and (max-width: 1400px) 37.6vw, (max-width: 850px) 88vw" alt="Titanfall 2">
        </div>
      </a>
      <a href="" class="project-thumb" data-project="fsl">
        <div class="project-wrap">
          <img class="thumb" src="img/projects/fsl600.jpg" srcset="img/projects/fsl2000.%jpg 2000w, img/projects/fsl1200.%jpg 1200w, img/projects/fsl1000.%jpg 1000w, img/projects/fsl750.%jpg 750w, img/projects/fsl600.%jpg 600w, img/projects/fsl500.%jpg 500w, img/projects/fsl450.%jpg 450w, img/projects/fsl300.%jpg 300w, img/projects/fsl250.%jpg 250w, img/projects/fsl150.%jpg 150w" sizes="(min-width: 2501px) 600px, (min-width:1401px) and (max-width: 2500px) 24vw, (min-width: 851px) and (max-width: 1400px) 37.6vw, (max-width: 850px) 88vw" alt="Fox Searchlight">
        </div>
      </a>
      <a href="" class="project-thumb" data-project="darkplaces">
        <div class="project-wrap">
          <img class="thumb" src="img/projects/darkplaces600.jpg" srcset="img/projects/darkplaces2000.%jpg 2000w, img/projects/darkplaces1200.%jpg 1200w, img/projects/darkplaces1000.%jpg 1000w, img/projects/darkplaces750.%jpg 750w, img/projects/darkplaces600.%jpg 600w, img/projects/darkplaces500.%jpg 500w, img/projects/darkplaces450.%jpg 450w, img/projects/darkplaces300.%jpg 300w, img/projects/darkplaces250.%jpg 250w, img/projects/darkplaces150.%jpg 150w" sizes="(min-width: 2501px) 600px, (min-width:1401px) and (max-width: 2500px) 24vw, (min-width: 851px) and (max-width: 1400px) 37.6vw, (max-width: 850px) 88vw" alt="Dark Places">
        </div>
      </a>
    </div>
  </section>
</template>
