<template id="project-tpl">
  <section id="project" class="@proj-name">
    <img src="img/projects/@proj-img1000.%jpg" srcset="img/projects/@proj-img2000.%jpg 2000w, img/projects/@proj-img1200.%jpg 1200w, img/projects/@proj-img1000.%jpg 1000w, img/projects/@proj-img750.%jpg 750w, img/projects/@proj-img600.%jpg 600w, img/projects/@proj-img500.%jpg 500w, img/projects/@proj-img450.%jpg 450w, img/projects/@proj-img300.%jpg 300w, img/projects/@proj-img250.%jpg 250w, img/projects/@proj-img150.%jpg 150w" sizes="(min-width: 2501px) 1000px, (max-width: 2500px) and (min-width: 1401px) 40vw, (max-width: 1400px) 88vw" alt="@proj-name"><!--
    --><div class="copy">
      <h1>@proj-name</h1>
      <p>@proj-desc</p>
      <a class="link" href="@proj-src" target="_blank" rel="noopener">Link to Site</a>
    </div>
  </section>

</template>
