//colors
$fuschia: #e61be6;
$teal: #31f7f7;
$green: #3cff49;
$red: #ff2222;

//dimensions
$compW: 2500;
$compH: 2160;

$mobileW: 850;
//$mobileH: 750;
//$oScale: $mobileW/$mobileH;

//breakpoints
$large: 2500px;
$medium: 1400px;
$mobile: 850px;
$desktop: $mobile + 1;

//etc.
