
@import "app/mixins";
@import "app/fonts";
@import "app/variables";
@import "app/animations";

*, *:before, *:after{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    margin:0;
    padding:0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  background-color: black;
  color: white;
  @include font-lato-regular;
  width: 100%;
  height: 100%;
}

#content {
  //padding: 0 6%;
  position: relative;
  min-height: 100%;
  max-width: 2500px;
  margin: auto;
}

#stage {
  width: 100%;
  position: relative;
  min-height: 35vh;
  @media(orientation: landscape) {
    min-height: 69vh;
  }
  &.project-open {
    min-height: auto;
  }
}

a {
//	transition: all 0.5s ease-out;
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.neon {
  width: calc(97vw + 8px);
  max-width: 2500px*0.97+8;
  height: 98vh;
  //border-top: 4px solid $green;
  border-right: 4px solid $green;
  border-left: 4px solid $green;
  animation: disco 5s linear -4s infinite;
  position: fixed;
  @include abs-center;
  filter: blur(2px);
  pointer-events: none;
  border-radius: 5%;
  @media(max-width: $medium) {
    width: calc(96vw + 8px);
  }
  @media(max-width: $mobile) {
    border-width: 2px;
    filter: blur(1px);
    border-radius: 2.5%;
  }
  &:before, &:after {
    content: "";
    position: absolute;
    @include abs-center;
    border-radius: 5%;
    @media(max-width: $mobile) {
      border-radius: 2.5%;
    }
  }
  &:before {
    width: calc(94vw + 8px);
    max-width: 2500px*0.94+8;
    height: 94vh;
    //border-top: 4px solid $fuschia;
    border-right: 4px solid $fuschia;
    border-left: 4px solid $fuschia;
    animation: disco 5s linear infinite;
    @media(max-width: $medium) {
      width: calc(93vw + 8px);
    }
    @media(max-width: $mobile) {
      width: calc(92vw + 8px);
      height: 96vh;
      border-width: 2px;
    }
  }
  &:after {
    width: calc(91vw + 8px);
    max-width: 2500px*0.91+8;
    height: 90vh;
    //border-top: 4px solid $teal;
    border-right: 4px solid $teal;
    border-left: 4px solid $teal;
    animation: disco 5s linear -3s infinite;
    @media(max-width: $medium) {
      width: calc(90vw + 8px);
    }
    @media(max-width: $mobile) {
      height: 94vh;
      width: calc(88vw + 8px);
      border-width: 1px;
    }
  }
}

@import "intro";
@import "portfolio";
@import "project";
@import "footer";
